h1{
	font-size:500px;
}
h2{ 
font-family: "Palatino";
 }
body{
	color: black;
}
{font-family: "Palatino"}
h2{
	font-family: "Palatino";
}
p.small {
    line-height: 19;}
h4{text-transform: uppercase;}

